@model BMSHPMS.DSManage.ViewModels.Info_ReceiptVMs.Info_ReceiptVM
@{
    string receiptId = Model.Entity.ID.ToString();

    string gridID = Guid.NewGuid().ToString("N");
}

<script>
    function fillDSReceiptDonationData() {
        $.get('/dsmanage/info_receipt/filldonationdatarefresh?id=@receiptId', function (data) {
            $('#@gridID').html(data);
        }, 'html');
    }
</script>

<div style="padding:10px;">
    <wt:row align="AlignEnum.Right">
        <wt:button click="fillDSReceiptDonationData()" text="刷新表格資料" />

    </wt:row>
</div>
<hr />
<div id="@gridID" style="overflow:auto;height:100%;padding:10px;">
</div>
<script>
    fillDSReceiptDonationData();
</script>
