@model BMSHPMS.DSManage.ViewModels.Info_ReceiptVMs.Info_ReceiptVM
@{
    string receiptId = Model.Entity.ID.ToString();

    string gridID = Guid.NewGuid().ToString("N");
}

<script>
    function getDSReceiptFillDonationDataGrid() {
        $.get('/dsmanage/info_receipt/filldonationdatagrid?id=@receiptId', function (data) {
            $('#@gridID').html(data);
        }, 'html');
    }
</script>

<div style="padding:10px;">
    <wt:row align="AlignEnum.Right" items-per-row="ItemsPerRowEnum.Three">
        <wt:display field="Entity.ReceiptNumber" />
        <wt:button click="getDSReceiptFillDonationDataGrid()" text="刷新" icon="layui-icon layui-icon-refresh" />
        <wt:closebutton />
        
    </wt:row>
</div>
<hr />
<div id="@gridID" style="overflow:auto;height:100%;padding:10px;">
</div>
<script>
    getDSReceiptFillDonationDataGrid();
</script>
