@model string

<div style="padding:20px;">
    <wt:quote>
        下載鏈接有效時間30秒.
    </wt:quote>
    <a class="layui-btn" href="/dsmanage/dsreport/DownloadDSReportExcel/@Model" target="_blank">下載</a>
</div>