@using BMSHPMS.DSManage.ViewModels.FindMissingSerialVMs
@model FindMissingVM

<div style="padding:20px;">
    <wt:form vm="@Model">
        <wt:row items-per-row="ItemsPerRowEnum.Three">
            <wt:display field="FindResult.DharmaServiceYear" />
            <wt:display field="FindResult.DharmaServiceName" />
            <wt:display field="FindResult.DonationProjectCategory" />
            <wt:display field="FindResult.DonationProjectSum" />
            <wt:display field="FindResult.DPLastUsedNumberSerial" />
        </wt:row>
    </wt:form>
    <hr />
    @foreach (var item in Model.FindResult.MissingSerials)
    {
        <p>@item</p>
    }
</div>