@model BMSHPMS.DSReception.ViewModels.PrintSerialVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>列印-@Model.Receipt?.ReceiptNumber</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="~/jquery.min.js"></script>
    <script src="~/jquery.print.min.js"></script>
</head>
<body>
    <style>
        @@media all {
            body {
                margin: 1cm;
            }
        }

        @@media print {
            .no-print {
                display: none;
            }

            @@page {
                margin: 0;
            }
        }
    </style>
    <div id="printserial" class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" style="text-align:center;font-weight:bold">
                主辦：@Model.DharmaService.ServiceOrganizer
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
                法會：@Model.DharmaService.ServiceName
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
                日期：@Model.DharmaService.ServiceDateDescription
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6">
                收據號碼：@Model.Receipt?.ReceiptNumber
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6">
                收據日期：@Model.Receipt?.ReceiptDate.Value.ToString("yyyy-MM-dd")
            </div>
        </div>       
        <hr />
        <div class="layui-row">
            <div class="layui-font-12">注：法會期間請凴登記編號查閲牌位，亦可出示此便條，請現場義工協助找尋。你的功德登記如下:</div>
        </div>
        <hr />
        <div class="layui-row">
            @if (Model.Donors.Count > 0)
            {
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                    <p>功德主</p>
                    @foreach (var item in Model.Donors)
                    {
                        <p>$@item.Sum:&nbsp;@item.SerialCode</p>
                    }
                </div>
            }
            @if (Model.Longevitys.Count > 0)
            {
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                    <p>延生</p>
                    @foreach (var item in Model.Longevitys)
                    {
                        <p>$@item.Sum:&nbsp;@item.SerialCode</p>
                    }
                </div>
            }
            @if (Model.Memorials.Count > 0)
            {
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                    <p>附薦</p>
                    @foreach (var item in Model.Memorials)
                    {
                        <p>$@item.Sum:&nbsp;@item.SerialCode</p>
                    }
                </div>
            }
        </div>
    </div>
    <div class="no-print">
        <button class="layui-btn" onclick="window.close();">關閉</button>
    </div>
    <script>
        window.onload = function () {
            $("#printserial").print();
        };

        // window.onafterprint = function () {
        //     window.close();
        // };

    </script>
</body>

</html>
