@model DSRegisterVM
@{
    string url = "/DSReception/DSRegister/Register?DharmaServiceID=";
}

<script>
    function loadDSRegisterPage(id) {
        let url = '@url' + id;

        $.get(url, function (data) {
            $('#REGa804ca45d0204775b8e7b882ac90be64').replaceWith(data);
        }, 'html');
    }
</script>
<wt:quote>
    登記新的功德牌位 （每次法會開始第一個登記時 記得功德編號計數歸零）
</wt:quote>
<div class="layui-btn-container" style="padding:20px;">  
    @if (Model.DharmaServices != null && Model.DharmaServices.Count > 0)
    {
        @foreach (var ds in Model.DharmaServices)
        {
            <div style="margin-bottom:20px;">
                <wt:linkbutton text="@ds.ServiceName" target="ButtonTargetEnum.Layer" window-title="功德牌位數目登記" max="true" url="@url@ds.ID" theme="ButtonThemeEnum.Normal" size="ButtonSizeEnum.Big" />
            </div>
        }
    }
    else
    {
        <p>請新增法會項目.</p>
    }
</div>
