@model DSRegisterVM

<script>
    function receptionRegister(id) {
        let url = '/DSReception/DSRegister/Register?DharmaServiceID=' + id;

        $.get(url, function (data) {
            $('#dsRegisterDiv').html(data);
        }, 'html');
    }
</script>

<div id="dsRegisterDiv">
    <div class="layui-btn-container" style="padding:50px;">
        @if (Model.DharmaServices != null && Model.DharmaServices.Count > 0)
        {
            @foreach (var ds in Model.DharmaServices)
            {
                <button onclick="receptionRegister('@ds.ID')" class="layui-btn layui-btn-normal layui-btn-lg">@ds.ServiceName</button>
            }
        }else
        {
            <p>請新增法會項目.</p>
        }
    </div>
</div>
