
<div class="layui-row layui-col-space15" >
@*     <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">項目</div>
            <div class="layui-card-body">
                <wt:chart show-legend="true" show-tooltip="true" type="Bar" height="300" trigger-url="/Echarts/GetProjectChart" />
            </div>
        </div>
    </div> *@

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">已登記功德</div>
            <div class="layui-card-body">
                <wt:chart show-legend="true" show-tooltip="true" type="Bar" height="300" trigger-url="/Echarts/GetDSRegInfoChart" />
            </div>
        </div>
    </div>
</div>