@model BMSHPMS.DSManage.ViewModels.Opt_DonationProjectCleanVMs.Opt_DonationProjectCleanVM
@{
    string url = "/DSManage/Opt_DonationProjectClean/Details?DharmaServiceID=";
}

<style>
    .reception-lable {
        width: 150px;
        text-align: left;
    }
</style>
<div style="padding:20px;font-size:16px;">
    <blockquote class="layui-elem-quote">
        相關的法會完全結束登記後，請記得做編號計數歸零動作, 或下一次相關法會開始登記前做編號計數歸零動作。<br /><br />
        注意：相關法會登記其間 不能做此動作。
    </blockquote>
    <hr /><br />

    @foreach (var item in Model.DharmaServiceList)
    {
        <wt:row>
            <wt:linkbutton url="@url@item.ID" text="@item.ServiceName" window-title="編號計數歸零" window-height="750" window-width="800" />
        </wt:row>
        <br />
    }
</div>



