@using BMSHPMS.Models.GeneralDharmaService
@using BMSHPMS.GeneralManage.ViewModels.GeneralReceiptVMs
@model GeneralReceiptVM
@{
    var donorList = Model.DonorList;
}

<style>
    table tr >td div {
        margin:5px;
    }

    table {
        margin-left: 20px;
        width:100%;
    }

    #btnAddNew {
        margin-left: 20px;
    }
</style>

<wt:form vm="@Model">
    <wt:row items-per-row="ItemsPerRowEnum.Six">
        <wt:textbox field="Entity.ReceiptNumber" />
        <wt:datetime field="Entity.ReceiptDate" type="Date" range="false" />
        <wt:combobox field="Entity.DonationCategory" items="DonationCategory" />
        <wt:textbox field="Entity.ContactName" />
        <wt:textbox field="Entity.Phone" />   
    </wt:row>
    <wt:row items-per-row="ItemsPerRowEnum.One">
        <wt:textbox field="Entity.GeneralRemark" />
    </wt:row>
    <hr />
    <div>
        <table>
            <thead>
                <tr>
                    <td>功德芳名</td>
                    <td>金額(元)</td>
                    <td>自定欄1</td>
                    <td>自定欄2</td>
                    <td>自定欄3</td>
                    <td>備註</td>
                </tr>
            </thead>
            <tbody id="tbbody">
                <tr>
                    <td>
                        <div class="layui-form-item">
                            <input class="layui-input" name="donorList[0].Name" type="text" lay-verify="required" lay-reqtext="必填項" />
                        </div>
                    </td>
                    <td>
                        <div class="layui-form-item">
                            <input class="layui-input" name="donorList[0].Sum" type="text" lay-verify="required" lay-reqtext="必填項" />
                        </div>
                    </td>
                    <td>
                        <div class="layui-form-item">
                            <input class="layui-input" name="donorList[0].CustomCol1" type="text" />
                        </div>
                    </td>
                    <td>
                        <div class="layui-form-item">
                            <input class="layui-input" name="donorList[0].CustomCol2" type="text" />
                        </div>
                    </td>
                    <td>
                        <div class="layui-form-item">
                            <input class="layui-input" name="donorList[0].CustomCol3" type="text" />
                        </div>
                    </td>
                    <td>
                        <div class="layui-form-item">
                            <input class="layui-input" name="donorList[0].GeneralRemark" type="text" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <button type="button" id="btnAddNew" class="layui-btn">新增功德芳名</button>
    </div>
    <hr />
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton />
        <wt:closebutton />
    </wt:row>
</wt:form>

<script>
    (function () {
        $("#btnAddNew").click(function () {
            var count = $("#tbbody >tr").length;
            $("#tbbody").append(`<tr>
                                    <td>
                                        <div class="layui-form-item">
                                             <input class="layui-input" name="donorList[${count}].Name" type="text" lay-verify="required" lay-reqtext="必填項"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="layui-form-item">
                                             <input class="layui-input" name="donorList[${count}].Sum" type="text" lay-verify="required" lay-reqtext="必填項"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="layui-form-item">
                                             <input class="layui-input" name="donorList[${count}].CustomCol1" type="text" />
                                        </div>
                                    </td>
                                        <td>
                                            <div class="layui-form-item">
                                                     <input class="layui-input" name="donorList[${count}].CustomCol2" type="text" />
                                            </div>
                                        </td>
                                            <td>
                                            <div class="layui-form-item">
                                                     <input class="layui-input" name="donorList[${count}].CustomCol3" type="text" />
                                            </div>
                                        </td>
                                    <td>
                                        <div class="layui-form-item">
                                             <input class="layui-input" name="donorList[${count}].GeneralRemark" type="text" />
                                        </div>
                                    </td>
                                    <td><button class="btnremove layui-btn layui-btn-sm">移除</button></td>
                                 </tr>`);

            AddRemoveAction();
        });

        function AddRemoveAction() {
            $(".btnremove").each(function (index, item) {
                $(item).click(function () {
                    $(this).closest('tr').remove();
                });

            });
        }
    })();
</script>